<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.elovirta.dita.html">
  <!-- DITA to HTML -->
  <transtype name="hdita" desc="HDITA"/>
  <feature extension="dita.conductor.target.relative" file="conductor.xml"/>
  <template file="build_template.xml"/>
  <!--template file="xsl/dita2html_template.xsl"/-->
  <!--template file="xsl/map2markdown-toc_template.xsl"/-->
  <!--template file="xsl/map2html-cover_template.xsl"/-->
  <!-- HTML to DITA -->
  <feature extension="dita.conductor.lib.import" file="html-1.0.1.jar"/>
  <feature extension="dita.conductor.lib.import" file="htmlparser-1.4.jar"/>
  <feature extension="dita.parser">
    <parser format="html" class="com.elovirta.dita.html.HtmlReader"/>
  </feature>
</plugin>